<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chucknorris.painter">

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CalcBMI"
            android:screenOrientation="portrait"/>
        <activity android:name=".ShowEnd"
            android:screenOrientation="portrait"/>
        <activity android:name=".CalcBMR"
            android:screenOrientation="portrait"/>
        <activity android:name=".CalcWHR"
            android:screenOrientation="portrait"/>
        <activity android:name=".CalcFAT"
            android:screenOrientation="portrait"/>
        <activity android:name=".CalcWEIGHT"></activity>
    </application>

</manifest>